header {
	display: block;
	height: 100px;
	width:100%;
	background: #000;
	margin-bottom: 10px;
}

body {
	margin: 0 auto;
	font: 13px/22px Helvetica, Arial, sans-serif;
	background: #a0a0a0;
}

.logo img{
	width:36px;
	height:36px;
	padding:25px 0px 0px 45px; 
}

header h1 {
	line-height: 38px;
	padding-top: 12px;
	padding-left: 10px;
	font-size:36px;
	font-family: Arial, Helvetica, sans-serif;
	color: #fff;
	text-shadow: 0px 2px 1px #bbbaba;
	display:inline;
}
header h2 {
	font-size:24px;
	font-family: Times;
	color:#fff;
	padding-left: 102px;
	margin-top: 0px;
}

.title {
	padding-top: 12px;
	/*padding-left: 10px;*/
	font-size:18px;
	font-family: Arial, Helvetica, sans-serif;
	color: #504f4f;
	background: #cacaca;
	width:60%;
	margin:0 auto;
}

.content {
	padding-top:15px;
}

.notebook {
	text-align: center;
}

textarea {
	background: url(../img/notebook-background.png) repeat-y;
	width: 90%;
	height: 40%;
	font: normal 14px verdana;
	line-height: 25px;
	padding: 2px 10px;
	border: solid 1px #ddd;
	
}
